::-webkit-scrollbar {
    width: 5px;
}

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

 ::-webkit-scrollbar-thumb {
    background: #8F8C8C;
    border-radius: 10px;
}

.container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    border: 1px solid black;
    padding: 20px 10px 5px 10px;
    height: 100vh;
    width: 600px;
    background-color: #E5DFD4;
}

.container-mensagens {
    width: 100%;
    overflow-y: auto;
}

input {
    display: inline;
}

.grid-input {
    width: 100%;
    display: grid;
    grid-template-columns: 25% 60% 15%;
}

.mensagem-div-eu {
    display: flex;
    justify-content: flex-end
}

.mensagem-div-outros {
    display: flex;
    justify-content: flex-start;
}

.mensagem-eu {
    padding: 8px;
    background-color: #D3FFC4;
    margin-bottom: 7px;
    max-width: 40%;
}

.mensagem-outros {
    padding: 8px;
    background-color: #FFFFFF;
    margin-bottom: 7px;
    max-width: 40%;
}